# Pandas Deep Dive

## Outline


* Basic Data Exploration
* Missing Values
* Duplicates
* Selecting / Dropping Columns
* String operations on whole columns
* Column splits/transformations
* MultiIndex
* Querying a Dataframe
* `DataFrame.at()` vs. `DataFrame.loc`
* Joins
* Sorting
* Grouping - Aggregation & Value Counts
* Resetting Index
* Pivot & Melt
* Column / Row Concatenation
* looping through DataFrame

In [ ]:
import pandas as pd
import numpy as np

Read CSV file from system

In [ ]:
data = pd.read_csv('startup_funding.csv',thousands=',')

# Making copy of data

It is imporatant to make a copy of data first, as in future if we corrupt the df by accident then we must have a copy to read data.

In [ ]:
#write code here
df = data.copy()

## Basic Data Exploration

**Getting Shape of the Data**   

dataframe.shape return the size of the array along each dimension.

In [ ]:
#write code here

There are 2422 rows and 11 columns in the data

**Getting a list of all columns in the dataframe**   

dataframe.columns return the names of all columns

In [ ]:
#write code here

**Checking data types of all columns**   

dataframe.dtypes return the types of each column

In [ ]:
#write code here

**Getting top/bottom 5 values**    

By default the **head()** will show the first five rows of the data frame.

In [ ]:
#write code here

By default the **tail()** will show the last five rows of the data frame.

In [ ]:
#write code here

**Getting top N values**  

head function with specified N arguments, gets the first N rows of data from the data frame. N is actually showing the number of rows.

In [ ]:
#write code here

**Getting Bottom N values**  

tail function with specified N arguments, gets the last N rows of data from the data frame. N is actually showing the number of rows.

In [ ]:
#write code here

**Getting a summary of all columns**

describe() function will display the basic stats of the **numerical columns** in the data frame

In [ ]:
#write code here

**descirbe()** function with argument **include=['O']** will display the basic stats of the **object type** columns in the data frame.

In [ ]:
#Write code here


**descirbe()** function with argument **include=['all']** will display the basic stats of all types of columns in the data frame.

In [ ]:
#Write code here

**Getting unique values of  single column**

Display the unique values of the **InvestmentType** column
unique() function will return all unique values that are present in the column.

Note that **PrivateEquity** and **Private Equity** are two unique values.

In [ ]:
#write code here

## Missing Values

**Checking which columns have missing values and how many**

**isnull()** function return all missing values in the data frame and **sum()** function count the all null values of each column

In [ ]:
#write code here

**Treating Missing Values of a AmountInUSD column (Series)**   
Hint: with fillna(0) function

In [ ]:
#write code here

After running the following command you'll see that AmountInUSD is now filled with 0 and it doesn't have any missing/null values.

**isnull()** function return all missing values in the data frame and **sum()** function count the all null values of each column

In [ ]:
#write code here

**Treating all Missing Values at once**   
Hint: with **fillna('Others', inplace=True)** inplace=True save the updated data to the same variable

In [ ]:
#write code here

**Checking which columns have missing values and how many**

In [ ]:
#write code here

Now you can see that all the columns have no **0** or **null values**

## Duplicates

Checking for duplicates in a **StartupName** column   
**duplicated()** return the duplicated values and **sum()** count all dupliacted values in that column

In [ ]:
#write code here

There are **421** StartupName instances that are exactly the same.

**Checking for whole row duplicates**

In [ ]:
#write code here

the above code returns the 50 number of rows that are duplicated.

In [ ]:
df[df.duplicated()]

This shows that these are the rows that are duplicated.

**Deleting duplicates from a specefic column**

In [ ]:
df.shape

Following code will delete the duplicates that are present in **StartupName**. The **keep='First'** parameter keeps the first occurance of the instance that is duplicated and deletes the rest. So in resutl only unique instances are left

In [ ]:
df.drop_duplicates(['StartupName'], keep='first').shape # Default is keep=first

In [ ]:
df.drop_duplicates(['StartupName'], keep='last').shape #keep=last keeps the last instance and deletes the rest

In [ ]:
df.drop_duplicates(['StartupName'], keep=False).shape # this deletes all the occurances of the duplicates so none is left.

**NOTE:** In all the above occurances neither did we use the inplace=True parameter nor manually assigned it. So there won't be any change in the df

**Deleting whole row duplicates**

In [ ]:
df.drop_duplicates().shape

In [ ]:
df.shape

Now we will use the inplace=True parameter to save the data frame

In [ ]:
df.drop_duplicates(inplace=True)
df.shape

## Selecting / Dropping Columns

**Selecting Columns**

In order to select multiple columns **'Date', 'CityLocation', 'AmountInUSD'** we have to pass these names as list in the data frame

In [ ]:
#write code here

**Dropping Columns**

In [ ]:
df.head()

**drop('index', axis=1)**  drop() function drop that column which we pass in parameter like column **index** and axis=1 stands for columns. by default axis=0, and axis=0 for rows

In [ ]:
#write code here

In [ ]:
df.shape

use the inplace true paramter to save the data frame

In [ ]:
df.drop('index', axis=1,inplace=True)

In [ ]:
df.shape

In [ ]:
df.head()

## String Operations on whole columns

display the unique value of column **InvestmentType**

In [ ]:
#write code here

result will be like this array(['Private Equity', 'Seed Funding', 'Debt Funding', 'Others',
       'SeedFunding', 'PrivateEquity', 'Crowd funding', 'Crowd Funding'],
      dtype=object)

**String Replacement**

We want to replace *PrivateEquatiy* which is written together to be written as *Private Equatiy*

In [ ]:
# first parameter in str.replace is the one which we want to replace and
#the second one is with which we are replacing it
df['InvestmentType'].replace('PrivateEquity', 'Private Equity').unique()

In [ ]:
df['InvestmentType'].unique()

As you can see it is back in the df because we did not re assign it. **Inplace=True** does **NOT** work here so we have to reassign it manually,

In [ ]:
df['InvestmentType'] = df['InvestmentType'].replace('PrivateEquity', 'Private Equity').unique()

In [ ]:
df['InvestmentType'].unique()

Now replace **Seed Funding** and **Crowd Funding** in investmentType

check unique values of **InvestmentType**

**Capitalization**

Display the column name **City Location** with lowercase
The lower() methods returns the lowercased string from the given string. It converts all uppercase characters to lowercase.

In [ ]:
#write code here

**Checking if there is a substring in each column value**

In [ ]:
df[df['InvestorsName'].str.contains('Khan')]

In [ ]:
df[df['InvestorsName'].str.contains(' Khan')]

In [ ]:
df['InvestorsName'].str.contains('Khan').sum()

In [ ]:
df['InvestorsName'].str.contains('khan').sum()

**What do you observe?**
<br>The str.contains() function is case sensative. If you pass Khan with capital K then it will search it with capital K otherwise if you pass lower k then it will search accordingly.

## Column Transformations / Splits

**Changing Data types**

___1. Normal conversion___

display the data types of all columns

In [ ]:
#write code here

Convert **float** to **int** the data type of column name **AmountInUSD**    
**astype(np.int64)** Cast a pandas object to a intiger data type.

In [ ]:
#write code here

Display the data of all columns

In [ ]:
#write code here

___2. Dates Conversion___

This will return an error as there are unknown string formats present. The below function will only work when date is in a specific format like 1/1/2001

In [ ]:
pd.to_datetime(df['Date'])

In [ ]:
df['Date'].str.contains('//').sum()

In [ ]:
df.head()

we saw in the data that there were some anomolies present. Like in the dates double slashes were used instead of single so we had to replace them
<br> The errors='coerce' parameter ignores the errors and converts the rest.

In [ ]:
df['New_Date'] = pd.to_datetime(df['Date'].str.replace('//', '/'), dayfirst=True, errors='coerce')

In [ ]:
df.dtypes

In [ ]:
df.isnull().sum()

In [ ]:
df[df['New Date'].isnull()]

**Now replace both '//' and '.' with '/' in Date column**

In [ ]:
#write code here

In [ ]:
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True, errors='coerce')

In [ ]:
df.dtypes

In [ ]:
df.isnull().sum()

In [ ]:
df.drop('New Date',axis=1,inplace=True)

**Getting months/year/days as separate columns from a datetime column**

Use **DatetimeIndex.month** attribute to find the months present in the DatetimeIndex and assign to **df['month']** and same as for **day** and **year** as well.

In [ ]:
df['month'] = pd.DatetimeIndex(df['Date']).month

display the first five entries thorugh head().

**Exercise:** Extract day and year

In [ ]:
#write code here

Extract current date time

In [ ]:
import datetime

datetime.datetime.today()

**Extracting new columns from existing string columns**

split the column **InvestmentType**   
Hint: **split()** method returns a list of strings after breaking the given string by the specified separator.

In [ ]:
#write code here

Split the column **InvestmentType** and display 0 index value   
Hint: **str[0]**

In [ ]:
#write code here

## Querying a Dataframe

**Querying based on a single value**

In [ ]:
df['AmountInUSD'] < 100000

In [ ]:
df[df['AmountInUSD'] < 100000]

**Querying based on multiple columns**   
where **AmountInUSD** is greater than **100000** and **City Location** is **New Delhi**

In [ ]:
#write code here

**Querying based on a list of values**

In [ ]:
df['CityLocation'].isin(['New Delhi', 'Bangalore', 'Mumbai'])

Querying based on **CityLocation** a list of values **'New Delhi', 'Bangalore', 'Mumbai'**  and along with **AmountInUSD** with greater than value of **100000**

In [ ]:
#write code here

## `DataFrame.at` vs. `DataFrame.loc`

In [ ]:
df.at[133,'StartupName']="Zubair Labs"

In [ ]:
df.at[133,'StartupName']

In [ ]:
df.loc[133,['StartupName', 'AmountInUSD']]

In [ ]:
%timeit df.at[133,'StartupName']

In [ ]:
%timeit df.loc[133,'StartupName']

## Joins

In [ ]:
rows1 = df[0:10]
rows2 = df[5:12]
print(rows1.shape)
rows1
table1 = rows1[['SNo', 'Date', 'CityLocation']]
table2 = rows2[['SNo', 'StartupName', 'IndustryVertical', 'InvestmentType']]
print(table1.shape)
table1

In [ ]:
print(table2.shape)
table2

table1 merge with table2 
**merge(table, how='right', on='SNo')**  
Most simply, we can explicitly specify the name of the key column using the **on** keyword, which takes a column name or a list of column names   
how keyword are **'inner', 'outer', 'left', and 'right'.** An outer join returns a join over the union of the input columns, and fills in all missing values with NaN:

In [ ]:
table1.merge(table2, how='right', on='SNo')

## Sorting

In [ ]:
df.sort_values(by=['CityLocation'])

Sort values of **AmountInUSD** in descending order

In [ ]:
#write code here

## Grouping - Aggregation & Value Counts

**Without grouping**

sum of all values of **AmountInUSD**   
Hint: sum()

In [ ]:
#write code here

Display all unique values of **InustrialVertical**   
Hint: unique()

In [ ]:
#write code here

count all values of each category in **InvestmentType**    
Hint: value_counts()

In [ ]:
#write code here

**Grouping based on a single column**

Group of dataframe on column **InvestmentType**

In [ ]:
#write code here

Group of dataframe on column **InvestmentType** and then sum of this group on **AmountInUSD**

#write code here

Group of dataframe on column **CityLocation** and then count values of this group on **IndustryVertical**

In [ ]:
#write code here

**Grouping w.r.t. multiple columns**

Group of dataframe on multi columns **CityLocation, InvestmentType** and then sum of this group on **AmountInUSD**

In [ ]:
#write code here

## Resetting Index

In [ ]:
type(df.groupby(['CityLocation', 'InvestmentType'])['AmountInUSD'].sum())

Group of dataframe on multi columns **CityLocation, InvestmentType** and sum of this group on **AmountInUSD** then this type-series convert into dataframe through method of **reset_index**

In [ ]:
#write code here

In [ ]:
type(df.groupby(['CityLocation', 'InvestmentType'])['AmountInUSD'].sum().reset_index())

In [ ]:
grouped=df.groupby(['CityLocation', 'InvestmentType'])
grouped

In [ ]:
grouped.agg({'AmountInUSD':{'min':np.min,'max':np.max,'mean':np.mean}})

## Multi Indexing

Group of dataframe on multi columns **'IndustryVertical', 'SubVertical'** and assign to 'grouped'

In [ ]:
#write code here

and then aggregate(mean,sum) these group on **AmountInUSD** and assign to 'new'

In [ ]:
#write code here

In [ ]:
new.head()

In [ ]:
new.columns

In [ ]:
new.columns=new.columns.droplevel(0)

In [ ]:
new.columns

In [ ]:
new.head()

In [ ]:
new=new.reset_index()

In [ ]:
new.head()

In [ ]:
new.columns

#### You can slice a MultiIndex by providing multiple indexers.

You can use pandas.IndexSlice to facilitate a more natural syntax using :,

In [ ]:
new = df.groupby(['IndustryVertical', 'SubVertical']).agg({'AmountInUSD': {'Mean': np.mean, 'Sum': np.sum}})

In [ ]:
new.head()

In [ ]:
idx = pd.IndexSlice
new.loc[idx[['3D Printer Manufacturer'], :], idx[['AmountInUSD'], : ]]

In [ ]:
df.head()

In [ ]:
idx = pd.IndexSlice
new.loc[idx[:, ['AI Based Personal Assistant', 'App based cab aggregator']], idx[:, ['Sum']]]

Run this code before next module

Group of dataframe on multi columns **CityLocation, InvestmentType** and sum of this group on **AmountInUSD** then this type-series convert into dataframe through method of **reset_index** and assign to 'new'

In [ ]:
#write code here

## Pivoting & Melting

**Pivoting**

In [ ]:
pivoted=pd.pivot_table(new,index='InvestmentType', columns='CityLocation', values='AmountInUSD',aggfunc='sum',fill_value=0)

In [ ]:
pivoted

In [ ]:
a=pivoted.reset_index()

In [ ]:
a

**Melting**

In [ ]:
pd.melt(a, id_vars=['InvestmentType'], value_vars=['Agra','Ahmedabad'], value_name='Amount')

## Column / Row Concatenation

In [ ]:
df.columns

In [ ]:
part1 = df[['SNo', 'Date', 'StartupName']]
part2 = df[['InvestorsName', 'InvestmentType']]
print(part1.shape)
part1.head()

In [ ]:
print(part2.shape)
part2.head()

In [ ]:
pd.concat([part1, part2], axis=1)

**Concatenation** 


concatenate function can be used to concatenate two arrays either row-wise or column-wise. Concatenate function can take two or more arrays of the same shape and by default it concatenates row-wise i.e. axis=0.

**Concatenate row wise**
![Image of Yaktocat](http://www.datasciencemadesimple.com/wp-content/uploads/2017/11/rowbind-in-python-pandas-0.png)

**Concatenate Column wise**
![Image of Yaktocat](http://www.datasciencemadesimple.com/wp-content/uploads/2017/11/column-bind-in-python-pandas-1.png)

In [ ]:
rows1 = df[:3]
rows2 = df[5:7]
print(rows1.shape)
rows1

In [ ]:
print(rows2.shape)
rows2

Concatenate Row1 and Row2

In [ ]:
#write code here

## Looping through DataFrame

#### Using Simple for loop

**Enumerate()** method adds a counter to an iterable and returns it in a form of enumerate object. This enumerate object can then be used directly in for loops or be converted into a list of tuples using list() method.

In [ ]:
for index,row in enumerate(df.values):
    print(index,row)

#### Using iterrows func

**iterrows()** is a generator that iterates over the rows of the dataframe and returns the index of each row, in addition to an object containing the row itself.

In [ ]:
for index, row in df.iterrows():
    print(index,row)